<div class="relative p-4 h-full flex flex-col">
  <div class="pb-2.5 border-b-2 border-sky-500 flex items-center justify-between">
    <div class="font-semibold">Minhas Atividades</div>
    <button mat-stroked-button (click)="openTaskDialog()">
      <mat-icon>add</mat-icon>New Task
    </button>
  </div>
  <div class="mt-4 flex items-center justify-between">
    <div class="flex items-center gap-1.5">
      <div class="text-sm uppercase">Ativas</div>
    </div>
    <div class="font-bold text-sm">{{ tasks.length }} Tasks</div>
  </div>
  <div class="mt-3 flex flex-col gap-4 h-full">
    @for (task of tasks; track task.id) {
      <div class="border border-default border-s-4 hover:bg-primary-50 cursor-pointer dark:hover:bg-neutral-800 rounded-lg p-5 relative"
           [class.border-s-sky-500]="task.priority === 'low'"
           [class.border-s-lime-500]="task.priority === 'medium'"
           [class.border-s-red-500]="task.priority === 'high'"
           (click)="openTaskDialog(task)">
        <div class="absolute end-1 top-1">
          <button mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
        <div class="flex gap-1.5 items-center">
          <div class="w-3 h-3 rounded-full"
               [class.bg-sky-500]="task.priority === 'low'"
               [class.bg-lime-500]="task.priority === 'medium'"
               [class.bg-red-500]="task.priority === 'high'"></div>
          <div class="uppercase text-xs">{{ task.status }}</div>
        </div>
        <div class="text-sm font-medium mt-3">{{ task.title }}</div>
        <div class="text-sm text-neutral-500 mt-1">
          {{ task.description }}
        </div>
        <div class="flex items-center gap-5 mt-4 border-t border-t-default pt-3 -mb-1.5">
          <div class="flex items-center gap-2">
            <emr-avatar [label]="task.ownerUserId.toString()" class="size-7"/>
          </div>
          <span class="w-px bg-neutral-400 h-4 dark:bg-neutral-600"></span>
          <button class="flex items-center gap-2 text-neutral-600 dark:text-neutral-400 hover:text-primary dark:hover:text-primary group"
                  (click)="$event.stopPropagation(); openTaskDialog(task, 1)">
            <mat-icon class="font-icon text-neutral-450 group-hover:text-inherit">comment</mat-icon>
            <span class="text-tiny">{{ task.comments.length }} comments</span>
          </button>
        </div>
      </div>
    } @empty {
      <div class="text-center text-neutral-500 py-4">Nenhuma atividade encontrada</div>
    }
  </div>
  <mat-paginator class="bg-transparent mt-4"
                 [length]="length"
                 [pageSize]="pageSize"
                 [hidePageSize]="true"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
