<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Gerenciamento de Cargos</h1>
    <div class="flex gap-2">
      <button
        mat-icon-button
        (click)="showFilters = !showFilters"
        [color]="showFilters ? 'primary' : ''"
        matTooltip="Filtrar"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <a
        *ngIf="permissionService.hasPermission('role:manage')"
        mat-flat-button
        color="primary"
        routerLink="new"
      >
        <mat-icon>add</mat-icon> Novo Cargo
      </a>
    </div>
  </div>

  <app-data-table
    [data]="data"
    [columns]="tableColumns"
    [filters]="filterConfig"
    [showFilters]="showFilters"
    [filterPredicate]="filterPredicate"
  ></app-data-table>

  <ng-template #actionsTemplate let-role>
    <button
      *ngIf="permissionService.hasPermission('role:manage')"
      mat-icon-button
      color="accent"
      [routerLink]="[role.id, 'edit']"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      *ngIf="permissionService.hasPermission('role:manage')"
      mat-icon-button
      color="warn"
      (click)="deleteRole(role.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
